my-xsd-app/src/main/resources/com/example/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://example.com"
           xmlns="http://example.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:include schemaLocation="MyObject.xsd"/>

    <xs:element name="user" type="User"/>

    <xs:complexType name="User">
        <xs:complexContent>
            <xs:extension base="MyObject">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>